.formulario-card {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.formulario-card input, .formulario-card select {
    width: 100%;
}

#edicao-colaborador {
    width: 100%;
    box-sizing: border-box;
}

.isabele {
    width: 100%;
}